Requirements for Zomato:

For the next 2 weeks, you’ll be a junior analyst going through an onboarding process in a tech company. While completing the onboarding assignment, you’ll be responsible for your own research, just like you can expect in your new career.

During the project, you’ll be in close communication with your team leader, who will be setting tasks, providing feedback, and assessing your results. You’ll also be able to discuss the tasks with your fellow students.

This final project isn’t intended to drown you in an ocean of difficult work. Instead, we want to give you the chance to utilize and systematize all of your newfound knowledge, and adapt it to the working environment.

Roles
During this project, you will be playing the role of a junior analyst, and the independent project you complete will help solve a real business problem.

One of our tutors will be playing the role of the team leader. Your team leader will explain the business case and help you and your teammates to successfully complete the project. The business problem is a relatively complex, voluminous task. It will be divided into several parts, meaning it’s up to you to decide what to focus your research on, and then make your own plan.

There will be two main project stages: decomposition (planning your project) and the project itself (execution of the project plan which results in a dashboard and conclusions). In line with this overview, there are certain deliverables you will have to produce. Regardless of what you choose to analyze for the project, every student will need to submit:

Decomposition or a detailed plan of their analysis and ideas for a dashboard.
A dashboard as the final product of your research and a report that includes the findings done during your analysis.
Don’t stress! You’ll have the same team leader throughout the entire project, and they’ll help you choose the right strategy for you and the team. They’ll also provide you with feedback on your work, which will help you improve your code and make corrections. Your team leader will assess and approve your research plan, as well as perform a review of your final conclusions and accept the dashboard.

As usual, the success managers will help you with the organizational side of the process.

Communication
You’ll be communicating over Discord and will need to join the final-project-bia channel to communicate with your peers and the team leader.

In this channel, you can ask your team leader and peers questions about the tasks, business, or data itself. Treat this channel like a professional working chat and use it accordingly.

After reading your task, think of some clarifying questions. You’ll be assigned a tutor who will act as your “team lead” for this project (your success manager will provide this information). After reading the task, collecting the first questions that come to mind, and outlining the preliminary work plan, message your tutor on Discord and set up a virtual meeting with them. During this meeting, you’ll be able to ask your questions, get some guidance on how to structure your work, make sure everyone is on the same page, and decide on the next steps.

You can also message your success manager for any organizational questions and assistance.

As already mentioned the final sprint consists of 2 main parts: decomposition and the dashboard with conclusions. In general, final sprints have the following stages:

You receive a business problem with several possible areas of research. It's up to you to decide the area with which you want to work. You can discuss it with your team leader and peers. You’ll be given 2 weeks to complete the task.
After you decide on an area of research, you will need to come up with a plan: what metrics/parameters you want to investigate and what to include in the dashboard. You'll need to study the data in advance to understand what you’re working with and what goals you want to achieve. The decomposition will be your first submission to the platform, just like a normal project. It will be checked and accepted by your team leader.
Once your plan is approved, you can use it to begin researching and assembling the dashboard. Keep in my mind, that result of your project is not only a dashboard, but research on the chosen area in the format of conclusions and recommendations. Of course, your plan may change slightly as you progress through your project—just don’t forget to discuss any changes with your team leader.
Once you're done with the dashboard and research, submit the file through the platform for your team leader to review.
Assessment Criteria

There will be no grading system for the final project. This is because we want you to explore the data and be as creative as possible. Use this time to improve communication with your team leader. After all, they’ll be the ones who accept your plan and dashboard. In order to complete the final sprint, your plan, report, and dashboard must be accepted through the platform by the team leader.

However, there are still some criteria that you must meet for your project to be accepted:

Criteria for Decomposition:

Your decomposition should include a detailed and structured research plan. What questions do you want to answer with your dashboard? What hypotheses do you have? What visualizations will be used? How do you need to work with data prior assembling the dashboard?
All steps in the plan should relate to your research area. For example, if you choose to focus on customer analysis, you won't need to investigate the product range.
Your plan should give your team leader a clear picture of what will be presented in the dashboard and report.
Criteria for the Dashboard:

There are no limitations or requirements for your dashboard—except one: it has to be relevant to your research area.
You may use either Tableau Public or Power BI to create your dashboard. If you need any help with your plan or visualization, you can reach out to your team leader or peers.
The dashboard should tell a story and every visualization should be a part of this story.
Criteria for Report:

You should provide your findings from working with the data and creating a dashboard in the format of a report.
The report must include your conclusions and recommendations to the business, as it’s the main goal of any analysis. Without conclusions and recommendations the final project won’t get accepted.
There is no strict format to the report - it may be just a document, a pdf with graphs, or a presentation.
Your team leader will check your project for compliance with these criteria.

Our team leaders are professionals from the industry with full-time jobs, so the expected waiting time for a review is 48 hours. However, don't forget to interact with them over chat or direct messages if you need to discuss anything.